
.products-list{
    // display: flex;
    // justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
    ul{
        padding-bottom: 5%;
    }

    li{
        text-align: center;
        text-decoration: none;
    //  font-size: $fs;
     height:fit-content;

        list-style-type: none;
        

    }

// ul{
//     color:white;
// }
